*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM serif Display", "Karla";
  font-size: 1.8rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

p {
  line-height: 1.6;
  font-size: 1.8rem;
  font-family: "DM serif Display";
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}

.nav_bar {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav_toggler {
  justify-self: end;
  align-self: center;
}

.nav_logo {
  align-self: center;
}

.nav_list {
  display: none;
  list-style: none;
}

.link {
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.8;
  color: hsl(273, 4%, 51%);
}

.link:hover {
  color: hsl(256, 26%, 20%);
}

.nav_btn {
  padding: 1rem 2rem;
  background: #fff;
  border: 2px solid hsl(256, 26%, 20%);
  text-transform: uppercase;
  font-family: "Karla";
  outline: 0;
  display: none;
}

.nav_btn:hover {
  background: hsl(256, 26%, 20%);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav_bar {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav_toggler {
    display: none;
  }

  .nav_list {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-self: end;
  }

  .nav_btn {
    display: block;
    width: 200px;
  }
}

.header {
  background: hsl(256, 26%, 20%);
  position: relative;
}

.h_top,
.h_bottom {
  position: absolute;
  display: none;
}

.h_top {
  top: 0;
  right: 0;
}

.h_bottom {
  bottom: 0;
  left: 0;
  transform: translateY(60%);
}

.header_container {
  width: 100%;
}

.header_img {
  width: 100%;
  object-fit: cover;
}

.header_content {
  color: #fff;
  text-align: center;
  padding: 10rem 3rem;
  position: relative;
}

.h_left,
.h_right {
  position: absolute;
}

.h_left {
  left: 0;
  top: 0;
}

.h_right {
  right: 0;
  bottom: 0;
  transform: translateY(60%);
}

.line {
  background: #fff;
  width: 150px;
  height: 0.5px;
  display: none;
}

.header_content p {
  margin-bottom: 3rem;
}

.h_btn,
.s_btn {
  width: 200px;
  background: none;
  color: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Karla";
  letter-spacing: 2px;
  font-size: 1.8rem;
  border: 2px solid #fff;
}

.h_btn:hover,
.s_btn:hover {
  background: #fff;
  color: hsl(256, 26%, 20%);
}

.header_grid {
  display: grid;
}

@media screen and (min-width: 600px) {
  .header_img {
    content: url(../images/image-intro-desktop.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .header_content {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header_container {
    margin: 0 auto;
    width: 80%;
  }

  .h_top,
  .h_bottom {
    display: block;
  }

  .header_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .header_img {
    order: 2;
    opacity: 0.9;
    transform: translateY(25%);
  }

  .header_content {
    justify-self: start;
    align-self: center;
    text-align: left;
  }

  .line {
    display: block;
  }

  .h_left,
  .h_right {
    display: none;
  }
}

.first .container {
  padding: 10rem 0;
}

.f_header {
  text-align: center;
  margin-bottom: 5rem;
}

.f_line {
  width: 200px;
  height: 1px;
  background: hsl(273, 4%, 51%);
  margin: 0 auto;
}

.f_content {
  text-align: center;
}

.f_content img {
  margin-bottom: 3rem;
}

.f_content h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.f_content p {
  opacity: 0.5;
}

.first_grid {
  display: grid;
  gap: 5rem;
}

@media screen and (min-width: 1024px) {
  .first .container {
    padding: 25rem 0 10rem 0;
  }

  .f_header {
    text-align: left;
  }

  .f_line {
    margin: 0;
  }

  .first_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .f_content {
    text-align: left;
    justify-self: start;
  }
}

.second {
  overflow: hidden;
  margin-bottom: 10rem;
  position: relative;
  background: hsl(256, 26%, 20%);
  padding: 8rem 0;
  text-align: center;
}

.second_content {
  display: grid;
}

.second_content h1 {
  color: #fff;
}

.s_btn {
  justify-self: center;
}

.hww {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 1024px) {
  .hww {
    content: url(../images/bg-pattern-how-we-work-desktop.svg);
  }

  .second {
    text-align: left;
    padding: 6rem;
  }

  .second_content {
    grid-template-columns: repeat(2, 1fr);
  }

  .s_btn {
    align-self: center;
    justify-self: end;
    z-index: 0;
  }
}

.footer {
  padding: 10rem 0;
  background: hsl(0, 0%, 98%);
  text-align: center;
  position: relative;
}

.f_img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer_header img {
  justify-self: center;
}

.footer_icon {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.icon {
  z-index: 0;
}

.icon:hover {
  filter: invert(12%) sepia(10%) saturate(940%) hue-rotate(227deg)
    brightness(93%) contrast(87%);
}

.footer_line {
  width: 100%;
  height: 1px;
  background: hsl(273, 4%, 51%);
  opacity: 0.6;
  margin: 0 auto;
}

.b_list {
  list-style: none;
}

.b_list h4 {
  font-size: 1.5rem;
  color: hsl(273, 4%, 51%);
  text-transform: uppercase;
  font-family: "Karla";
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.b_list li {
  margin-bottom: 1rem;
}

.f_link {
  color: hsl(256, 26%, 20%);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Karla";
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
}

.f_link:hover {
  text-decoration: underline;
}

.footer_header {
  display: grid;
  gap: 3rem;
  margin-bottom: 3rem;
}

.footer_bottom {
  margin-top: 3rem;
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 1024px) {
  .f_img {
    content: url(../images/bg-pattern-footer-desktop.svg);
  }

  .footer {
    text-align: left;
  }

  .footer_header {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_header img {
    justify-self: start;
  }

  .footer_icon {
    justify-self: end;
  }

  .footer_bottom {
    grid-template-columns: repeat(4, 1fr);
  }

  .b_content {
    justify-self: start;
  }
}
